# Gradle
.gradle/
build/
.gradle/
**/build/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws

# Дополнительные настройки Gradle
.gradle-wrapper/
gradle-app.setting

# Файлы блокировки (lock files)
*.lock

# Системные файлы
.DS_Store
Thumbs.db